<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="myPet"
          class="com.example.laba1_zaybert.spring_introduction.Cat">

    </bean>
    <bean id="myCar"
          class="com.example.laba1_zaybert.spring_introduction.Toyota">

    </bean>
    <bean id="myEmployee"
          class="com.example.laba1_zaybert.spring_introduction.Employee">
        <property name="name" value="Nastya"/>
        <property name="age"  value="21"/>
        <property name="car" ref="myCar"/>
        <property name="pet" ref="myPet"/>

    </bean>



</beans>